.container{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: aqua;
    margin: 20px auto;
}

.inner{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
}

#inner1{
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


#inner2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container3{
    display: flex;
    justify-content: center;
    align-items: center;
}

